@model IEnumerable<StajProjesi_4.Models.Bilgiler>

@{
    ViewBag.Title = "Kişiler";
}

<h2>KİŞİ LİSTESİ</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOYAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFON)
        </th>
        @*<th>
            @Html.DisplayName("YÖNETİCİ")
            @Html.DisplayNameFor(model => model.Bilgiler2.AD)
        </th>
        <th>
            @Html.DisplayName("DEPARTMAN")
            @Html.DisplayNameFor(model => model.Departman1.DPRTMN)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOYAD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TELEFON)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Bilgiler2.AD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departman1.DPRTMN)
            </td>*@
            <td>
                @Html.ActionLink("Detay", "Details", new { id = item.ID },new { @class="btn btn-info"})
            </td>
        </tr>
    }

</table>
